<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    {{>bootstrap}}
    
    <title>\m/</title>
</head>
<body>
    {{>nav}}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    {{#if randBand.photoUrl}} 
                        <img class="text-center" src="{{randBand.logoUrl}}" alt="Band Logo">
                    {{else}}
                        <img src="/graphql-metalarchives/public/images/logo404.jpg" alt="Band Logo Unavailable">
                    {{/if}}
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-5">
                <table class="table table-responsive">
                    <tbody class="text-light">
                        <tr>
                            <td>
                                <p>Band Name:</p>
                            </td>
                            <td>
                                <p>{{randBand.name}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Formed:</p>
                            </td>
                            <td>
                                <p>{{randBand.formYear}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Genre:</p>
                            </td>
                            <td>
                                <p>{{randBand.genre}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Location:</p>
                            </td>
                            <td>
                                <p>{{randBand.location}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Themes:</p>
                            </td>
                            <td>
                                <p>{{randBand.themes}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Label:</p>
                            </td>
                            <td>
                                <p>{{randBand.label}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-7">
                <div class="text-center" >     
                    {{#if randBand.photoUrl}}  
                        <img src="{{randBand.photoUrl}}" alt="Band Photo">
                    {{/if}}
                </div>
            </div>
        </div>
<hr>
        <div class="row" >
            <div class="col-md-12">
                <h4>Discography</h4>                
            </div>
        </div>
        <div class="row">
            {{{discography}}}
        </div>
        {{>footer}}
    </div>
</body>
</html>
